*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.about-section{
    margin-top: 50px;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0% 10%;
}

.about-left{
    overflow: hidden;
    background: url(../images/aboutImage.jpg);
    filter: drop-shadow(8px 8px 3px rgba(0, 0, 0, 0.25));
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    height: 500px;
    background-size: cover;
}
 
.about-right{
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.about-right p{
    text-align: justify;
    line-height: 23px;
    margin: 30px 0;
}

.about-right h1{
    font-size: 50px;
    color: #0C155E;
    font-weight: lighter;
    letter-spacing: 12px;
}

@media screen and (max-width: 1100px){
    .about-section{
        flex-direction: column-reverse;
        padding: 50px 0 ;
        justify-content: center;
        
    }
    .about-left{
        width: 70%;
    
    }
    .about-right{
        width: 70%;
        
    }
}
@media screen and (max-width: 800px){
    .about-left{
        height: 300px;
    }
}

@media screen and (max-width: 500px){
    .about-right h1{
        font-size: 40px;
        color: #0C155E;
        font-weight: lighter;
        letter-spacing: 9px;
    }
    
    .about-left{
        height: 200px;
        width: 80%;
    }
    .about-right{
        width: 80%;
    }
}