
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserret', serif;
}
#faq{
    margin: 5% 5% 5% 5% ;
}
.heading-faq{
    display: flex;
    justify-content: center;
}
.heading-faq h3{
    margin-top: 5%;
    font-size: 55px;
    color: #0C155E;
    font-weight: bold;
    letter-spacing: 9px;
   
}
.container-faq{
    display: flex;
    justify-content:center;
}

.list-item{
    margin: 5%;
}

p.accordion {
  
    background: linear-gradient(180deg, rgba(16, 156, 165, 0.2) 0%, rgba(138, 176, 210, 0.04) 100%), #FFFFFF;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.25);
    /* color: #000000; */
    color: rgb(58, 57, 57);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
    border-radius: 13px;
}

.accordion{
     font-weight: 500;
     font: bold;
}


p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    /* color: #000000; */
    color: rgb(58, 57, 57);
    /* color: rgb(247, 241, 241); */
    float: right;
    margin-left: 5px;
}


p.accordion.active:after {
    color: #0d6efd;
    content: "\2796"; 
    
}



div .panel {
    padding: 0 18px;
    background-color: white;
    color: rgb(58, 57, 57);
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
    margin-left: 4%;
    margin-right: 4%;
    width: 90%;
    border-left: 3px solid #6cd2da;
}
.panel a{
    text-decoration: none;
}
div.panel.show {
    transition:  ease-in-out 2s;
    opacity: 1;
    max-height: 500px; 
}

@media screen and (max-width:434px) {
      
    .accordion{
        font-size: 12px;
    }
      
}
@media screen and (max-width:822px) {
     
    .heading-faq h3{
        font-size: 35px;
        margin: 7%;
        font-weight: bold;
        letter-spacing: 8px;
    }

    .container-faq{
        margin-right: 12%;
        margin-left: 12%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
   .list-item{
    margin: 0%;
   }
}