*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
footer{
    width: 100%;
    min-height: 54vh;
    /* background: #013D41; */
    background-color: #062c46;
    position: relative;
    overflow: hidden;
}
h2{
    color: white;
    margin-bottom: 10px;
}
span i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}
span i:hover{
    color: #6cd2da;
}
.footer-section p a{
    color: white;
    cursor: pointer;
    text-decoration: none;
}
.footer-section p a:hover {
    color: #6cd2da; 
}
.footer-section{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 34% 34% 34%;
    width: 97%;
    min-height: 47vh;
    left: 1.5%;
    top: 6%;
    justify-content: center;
    background: linear-gradient(114.01deg, rgba(255, 255, 255, 0.16) 12.54%, rgba(255, 255, 255, 0.04) 83.34%);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 40px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(16px);
}

.footerLeft .logo img{
    width: 220px;
    margin-left: 40px;
    height: 120px;
}

.footerMiddle {
    margin-left: 90px;
}

.footerMiddle .address a, .footerMiddle .contact a, .footerRight .mail a, .footerRight .social {
    color: white;
    text-decoration: none;
}

.footerMiddle .address {
    margin-bottom: 20px;
}

.footerRight .mail {
    margin-bottom: 55px;
}

.social{
    margin: 0;
    padding: 0;
}
.social-icon{
    display: flex;
}

.footerRight{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 50px;
}
.social-icon .icon{
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50px;
    transition: all .8s;
}

.icon:hover{
    background: #e60073;
    box-shadow: 0 0 20px #e60073;
}

.icon:hover:nth-child(2){
    background: #1877f2;
    box-shadow: 0 0 20px #1877f2;
}

.icon:hover:nth-child(3){
    background: #0e76a8;
    box-shadow: 0 0 20px #0e76a8;
}

.icon i{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.copyright{
    top: 93.5%;
    left: 10%;
    font-size: 14px;
    position: absolute;
    color: rgba(255, 255, 255, 0.705);   
}

.copyright a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);
}

.copyright span{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.705);
}

.copyright .all:hover{
    color: rgba(255, 255, 255, 0.705);;
}

.copyright a:hover{
    color: #6cd2da;
}

.privacy{
    top: 93.5%;
    right: 10%;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    font-style: italic;
    position: absolute;
    color: rgba(255, 255, 255, 0.705);
}
.privacy ul{
    display: flex;
    flex-direction: row;
}
.privacy ul li{
    margin-left: 30px;
}
.privacy ul li a:hover{
    color: #6cd2da;
}
.privacy a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.705);;
}
@media (max-width: 1025px){
    footer{
        width: 100%;
        min-height: 62vh;
        text-align: center;
    }
    .footer-section{
        position: absolute;
        top: 5%;
        width: 97%;
        min-height: 55vh;
        text-align: center;
    }
    .footerLeft .logo img{
        margin-left: -20px;
        text-align: center;
        width: 200px;
        height: 105px;
    }
    .copyright{
        top: 95%;
        left: 10%;
        font-size: 13px;
    }
    .privacy{
        top: 95%;
        right: 10%;
        font-size: 13px;
        display: block;
    }
    .social-icon {
        top: 75%;
        left: 84%;
    }
    
}   
@media (max-width: 868px) {
    footer{
        width: 100%;
        height: 112vh;
        display: block;
        text-align: center;
    }
    .footer-section{
        position: relative;
        top: 2%;
        display: flex;
        flex-direction: column;
        width: 97%;
        height: 105vh;
    }
    h2{
        font-size: 18px;
    }
    .footerLeft .logo img{
        margin-left: -20px;
        text-align: center;
        width: 185px;
        height: 95px;
    }
    .footerMiddle, .footerRight, .footerLeft .logo{
       margin-left: -15px;
    }
    .footerMiddle, .footerRight, .footerLeft{
        margin: 30px 0;
    }
    .footerMiddle .address {
        margin-bottom: 40px;
    }
    .footerRight .social {
        margin-top: -10px;
    }
    .social{
        margin-left: 20px;
    }
    .social-icon {
        top: 94%;
        left: 50%;
    }
    .copyright{
        
        align-items: center;
        top: 96.7%;
        left: 5%;
        font-size: 11PX;
    }
    .copyright .all{
        display: flex;
        flex-direction: row;
    }
    .privacy{
        top: 97%;
        right: 5%;
        font-size: 11px;
    }

} 

@media (max-width: 500px){
    .copyright{
        font-size: 9PX;
        top: 96.3%;
        left: 2%;
    }
    .privacy{
        font-size: 9px;
        top: 96.5%;
        right: 2%;
    }
    .privacy ul{
        display: block;
    }
    .privacy ul li{
        margin-left: 5px;
    }
    .social{
        margin-left: 20px;   
    }
    .social-icon {
        left: 50%;
    }
}