@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
    font-family    : 'Montserrat', sans-serif;
}

.preloader {
    position           : fixed;
    z-index            : 5000;
    width              : 100%;
    height             : 100vh;
    background         : #fff url(../images/preloader.gif);
    background-position: center;
    background-repeat  : no-repeat;
    transition         : opacity 0.5s ease;
}


.logo svg {
    height: 50px;
}

.landing-page {
    width     : 100%;
    min-height: 100vh;
    background: linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
}

/* navbar css */

.navbar {
    padding        : 8px 0;
    position       : fixed;
    z-index        : 999;
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    min-height     : 8vh;
}


.nav-links {
    display        : flex;
    justify-content: space-around;
    width          : 70%;
    list-style     : none;
}


.nav-links a {
    color          : white;
    font-size      : 20px;
    text-decoration: none;
    font-weight: normal;
    font-family    : 'Montserrat', sans-serif;
}

.nav-links a::after {
    content         : '';
    width           : 100%;
    height          : 3px;
    background-color: white;
    transform       : scaleX(0);
    transition      : transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
    display  : block;
    transform: scaleX(1);
}

.burger {
    display: none;
}

.line {
    width           : 25px;
    height          : 3px;
    background-color: white;
    margin          : 5px;
    transition      : 0.5s ease;
}

@media screen and (max-width: 868px) {
    .navbar {
        justify-content: space-between;
        padding        : 8px 30px;
    }

    .nav-links {
        position      : absolute;
        right         : 0;
        height        : 93vh;
        top           : 9vh;
        background    : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 100%;
        transform     : translateX(100%);
        transition    : transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor : pointer;
    }
}


/* toggle classes used by js  */

.nav-active {
    transform: translateX(0%);
}

.nav-color {
    background     : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
    backdrop-filter: blur(40px);
}

.fixed-body {
    overflow  : hidden;
    block-size: 100%;
}

.preload-finish {
    opacity       : 0;
    pointer-events: none;
}

@keyframes navLinkAnim {
    from {
        opacity  : 0;
        transform: translateX(50px);
    }

    to {
        opacity  : 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* landing page content css */

.landing-page-content {
    padding-top    : 110px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

.landing-page-left {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-left svg{
    width: 90%;    
}

.landing-page-right {
    margin        : 40px 0;
    width         : 40%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.landing-page-right img {
    width: 70%;
}

.main-sponsor {

    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin        : 40px 0 30px 0;
    /* background-color: white; */
    width: 50%;
    border-radius: 8px;
    padding: 8px 0;
}

.main-sponsor img {
    width: 80%;
}

.main-sponsor p {
    font-size    : 1.1em;
    margin-bottom: 10px;
}

button,
button::after {
    width     : 250px;
    height    : 50px;
    font-size : 25px;
    background: #de6161;
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);

    border        : 0;
    color         : #fff;
    letter-spacing: 3px;
    box-shadow    : 6px 0px 0px #de6161;
    outline       : transparent;
    position      : relative;
    cursor        : pointer;
    border-radius : 20px;
    margin-left: 20px;
}

button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);

    content   : 'Go to dashboard';
    display   : block;
    position  : absolute;
    top       : 0;
    left      : 0;
    right     : 0;
    bottom    : 0;
    background: #de6161;
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    background: linear-gradient(to right, #2657eb, #de6161);


    text-shadow: -3px -3px 0px #051df8, 3px 3px 0px #00E6F6;
    margin-left: 8px;
    clip-path  : var(--slice-0);
}

button:hover::after {
    animation                : 1s glitch;
    animation-timing-function: steps(2, end);
}

@keyframes glitch {
    0% {
        clip-path: var(--slice-1);
        transform: translate(-20px, -10px);
    }

    10% {
        clip-path: var(--slice-3);
        transform: translate(10px, 10px);
    }

    20% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 10px);
    }

    30% {
        clip-path: var(--slice-3);
        transform: translate(0px, 5px);
    }

    40% {
        clip-path: var(--slice-2);
        transform: translate(-5px, 0px);
    }

    50% {
        clip-path: var(--slice-3);
        transform: translate(5px, 0px);
    }

    60% {
        clip-path: var(--slice-4);
        transform: translate(5px, 10px);
    }

    70% {
        clip-path: var(--slice-2);
        transform: translate(-10px, 10px);
    }

    80% {
        clip-path: var(--slice-5);
        transform: translate(20px, -10px);
    }

    90% {
        clip-path: var(--slice-1);
        transform: translate(-10px, 0px);
    }

    100% {
        clip-path: var(--slice-1);
        transform: translate(0);
    }
}

@media screen and (max-width: 1025px) {
    .landing-page-content {
        padding-top: 50px;
        flex-direction: column-reverse;
    }

    .landing-page-left {
        width: 60%;
    }

    .landing-page-right {
        width: 80%;
    }

    .vb-logo {
        width: 100%;
    }

    .main-sponsor {
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .landing-page-left {
        width: 80%;
    }

    .landing-page-right {
        width: 100%;
    }

    .landing-page-content {
        padding-top: 50px;
    }

    .preloader {
        background-size: contain;
    }
}

@media screen and (max-width: 350px) {
    .navbar {
        padding: 8px 12px;
    }

}