@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin           : 0;
    padding          : 0;
    box-sizing       : border-box;
    scroll-behavior  : smooth;
    scroll-margin-top: 100px;
    font-family      : 'Montserrat', sans-serif;
}

.preloader {
    position           : fixed;
    z-index            : 5000;
    width              : 100%;
    height             : 100vh;
    background         : #fff url(../images/preloader.gif);
    background-position: center;
    background-repeat  : no-repeat;
    transition         : opacity 0.5s ease;
}


.logo svg {
    height: 50px;
}

.landing-page {
    width     : 100%;
    min-height: 100vh;
    background: linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
}

/* navbar css */

.navbar {
    padding        : 8px 0;
    position       : fixed;
    z-index        : 999;
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    min-height     : 8vh;
}


.nav-links {
    display        : flex;
    justify-content: space-around;
    width          : 65%;
    list-style     : none;
    margin-top: 13px;
}


.nav-links a {
    color          : white;
    font-size      : 20px;
    text-decoration: none;
    font-family    : 'Montserrat', sans-serif;
}

.nav-links a::after {
    content         : '';
    width           : 100%;
    height          : 3px;
    background-color: white;
    transform       : scaleX(0);
    transition      : transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
    display  : block;
    transform: scaleX(1);
}

.burger {
    display: none;
}

.line {
    width           : 25px;
    height          : 3px;
    background-color: white;
    margin          : 5px;
    transition      : 0.5s ease;
}

@media screen and (max-width: 868px) {
    .navbar {
        justify-content: space-between;
        padding        : 8px 30px;
    }

    .nav-links {
        position      : absolute;
        right         : 0;
        height        : 93vh;
        top           : 9vh;
        background    : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 100%;
        transform     : translateX(100%);
        transition    : transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor : pointer;
    }
}


/* toggle classes used by js  */

.nav-active {
    transform: translateX(0%);
}

.nav-color {
    background     : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
    backdrop-filter: blur(10px);
}

.fixed-body {
    overflow  : hidden;
    block-size: 100%;
}

.preload-finish {
    opacity       : 0;
    pointer-events: none;
}


@keyframes navLinkAnim {
    from {
        opacity  : 0;
        transform: translateX(50px);
    }

    to {
        opacity  : 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}


/* landing page content css */

.landing-page-content {
    padding-top    : 110px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

.landing-page-left {
    width          : 40%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.landing-page-left svg {
    width: 90%;
}

.landing-page-right {
    margin        : 40px 0;
    width         : 40%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.landing-page-right img {
    width: 70%;
}

.main-sponsor {

    display            : flex;
    flex-direction     : column;
    align-items        : center;
    margin             : 40px 0 30px 0;
    /* background-color: white; */
    width              : 50%;
    border-radius      : 8px;
    padding            : 8px 0;
}

.main-sponsor img {
    width: 80%;
}

.main-sponsor p {
    font-size    : 1.1em;
    color: white;
    margin-bottom: 10px;
}

.dashboard {
    width     : 230px;
    height    : 46px;
    font-size : 20px;
    background: #CB356B;  
    background: -webkit-linear-gradient(to right, #BD3F32, #fd2876);  
    background: linear-gradient(to right, #eb6657, #eb246d);
    border        : white;
    color         : #fff;
    letter-spacing: 1px;
    box-shadow: 2px 50px 50px -20px #252525;
    outline       : transparent;
    cursor        : pointer;
    border-radius : 25px;
    margin-left   : 20px;
}

 .dashboard:hover{
     transition: 0.6s;
    transform: scale(1.03);
}

@media screen and (max-width: 1025px) {
    .landing-page-content {
        padding-top   : 50px;
        flex-direction: column-reverse;
    }
    .navbar{
        align-items: center;
    }
    .nav-links{
        margin: 0;
    }
    .landing-page-left {
        width: 60%;
    }

    .landing-page-right {
        width: 80%;
    }

    .vb-logo {
        width: 100%;
    }

    .main-sponsor {
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px) {
    .landing-page-left {
        width: 80%;
    }

    .landing-page-right {
        width: 100%;
    }

    .landing-page-content {
        padding-top: 50px;
    }

    .preloader {
        background-size: contain;
    }
    .dashboard{
        font-size: 17px;
        width: 200px;
        height: 36px;
    }
    .main-sponsor p {
        font-size    : 0.8em;
    }
}

@media screen and (max-width: 350px) {
    .navbar {
        padding: 8px 12px;
    }
    .main-sponsor img{
        width: 100%;
    }
}