@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.logo svg{
    height: 50px;
}
.landing-page {
    width     : 100%;
    min-height: 100vh;
    background: linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
}

/* navbar css */

.navbar {
    padding        : 8px 0;
    position       : fixed;
    z-index        : 999;
    width          : 100%;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
    min-height     : 8vh;
}


.nav-links {
    display        : flex;
    justify-content: space-around;
    width          : 70%;
    list-style     : none;
}


.nav-links a {
    color      : white;
    font-size  : 20px;
    font-weight: 500;
    text-decoration: none;
    font-weight: 700;
}

.nav-links a::after {
    content         : '';
    width           : 100%;
    height          : 3px;
    background-color: white;
    transform       : scaleX(0);
    transition      : transform 0.3s ease-in-out;
}

.nav-links a:hover::after {
    display  : block;
    transform: scaleX(1);
}

.burger {
    display: none;
}

.line {
    width           : 25px;
    height          : 3px;
    background-color: white;
    margin          : 5px;
    transition      : 0.5s ease;
}

@media screen and (max-width: 868px) {
    .nav-links {
        position      : absolute;
        right         : 0;
        height        : 90vh;
        top           : 9vh;
        background    : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
        display       : flex;
        flex-direction: column;
        align-items   : center;
        width         : 100%;
        transform     : translateX(100%);
        transition    : transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor : pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

.nav-color {
    background     : linear-gradient(264.55deg, #243E94 -1.6%, rgba(5, 250, 193, 0.79) 105.68%, rgba(5, 250, 193, 0.79) 105.68%);
    backdrop-filter: blur(40px);
}

.fixed_body{
    overflow: hidden;
    block-size: 100%;
  }

@keyframes navLinkAnim {
    from {
        opacity  : 0;
        transform: translateX(50px);
    }

    to {
        opacity  : 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* landing page content css */

.landing-page-content {
    padding-top    : 70px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

.landing-page-left {
    width: 40%;
}

.landing-page-right {
    margin        : 40px 0;
    width         : 40%;
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.landing-page-right img {
    width: 70%;
}

.main-sponsor {
    display       : flex;
    flex-direction: column;
    align-items   : center;
    margin-top    : 40px;
}

.main-sponsor img {
    width: 40%;
}

.main-sponsor p {
    font-size    : 0.7em;
    margin-bottom: 10px;
}

.dashboard {
    cursor         : pointer;
    display        : flex;
    align-items    : center;
    justify-content: center;
    margin         : 20px 0;
    background     : linear-gradient(188.67deg, #0F0909 5.98%, rgba(46, 18, 218, 0.5) 173.37%);
    box-shadow     : 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius  : 7px;
    padding        : 10px 13px;
    margin-top     : 25px;
    text-align     : center;
}

.dashboard p {
    color      : white;
    font-size  : 1em;
    font-weight: 900;
}

.dashboard svg {
    height      : 40px;
    width       : 30px;
    margin-right: 10px;
}

@media screen and (max-width: 1025px) {
    .landing-page-content {
        flex-direction: column-reverse;
    }

    .landing-page-left {
        width: 60%;
    }

    .landing-page-right {
        width: 60%;
    }

    .vb-logo {
        width: 100%;
    }

    .main-sponsor {
        margin-top: 30px;
    }

    .dashboard p {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 600px) {
    .landing-page-left {
        width: 80%;
    }

    .landing-page-right {
        width: 80%;
    }

    .dashboard svg {
        height: 30px;
        width : 25px;
    }

    .landing-page-content {
        padding-top: 50px;
    }
}