*{
    margin: 0;
    padding: 0;
}


.up-down {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    /* background-color: #013D41; */
    background-color:#062c46;
    color: white;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
}
.up-down:hover{
    height: 80px;
}

@media  (max-width:600px) {
    .up-down:hover{
        height: 50px;
    }
}